/*Три колонки "резиновой" ширины*/
* {  margin: 0px; padding: 2px;}

#header {  background-color: #ffffff;   text-align: center; }
#wrapper { width: 100%;  float: left;}
#content { margin: 0 27%;     text-align: justify;  font-size:14pt}
#navigation {   background-color: #9bcdff; width: 20%;  float: left;   margin-left: -21%; text-size:16}
#info {   padding: 8px;  background-color: #9bcdff; width: 20%;   float: left; 
 margin-left: -100%;   margin-right: -70%; }

body {background-color: #EEEEEE;}